@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-linear-to-br  from-slate-50 to-blue-50/30;
  }
  button {
    @apply cursor-pointer transition duration-300 hover:brightness-75;
  }
}

@layer componenets {
  .container {
    @apply max-w-360 mx-auto p-5;
  }
  .nav-link {
    @apply text-zinc-700 hover:text-blue-600 transition-all duration-300 font-medium relative;
  }
  .bg-clip {
    @apply bg-clip-text text-transparent;
  }
  .link-line {
    @apply absolute -bottom-1 left-0 w-0 h-0.5 bg-blue-600 group-hover:w-full transition-all duration-300;
  }
  .btn-primary {
    @apply bg-linear-to-r  from-blue-600 to-blue-500 text-white font-semibold py-2.5 px-6 rounded-lg shadow-blue-600/30 hover:shadow-xl hover:shadow-blue-500/50 hover:scale-[1.02] hover:-translate-y-0.5 active:scale-[0.98] disabled:opacity-60 disabled:cursor-not-allowed;
  }
  .btn-secondary {
    @apply border-2 border-blue-500 text-blue-500 font-semibold py-2 px-5 rounded-lg hover:bg-blue-50 hover:scale-[1.02] active:scale-[0.98];
  }
  .hero {
    background:
      linear-gradient(
        135deg,
        rgba(15, 23, 42, 0.9) 0%,
        rgba(30, 58, 138, 0.85) 50%,
        rgba(59, 130, 246, 0.7) 100%
      ),
      url("/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .card-hover {
    @apply transition duration-300 hover:shadow-2xl hover:shadow-blue-500/10 hover:-translate-y-1;
  }
  .field {
    @apply flex flex-col gap-2;
  }
  .input {
    @apply border-2 border-zinc-200 py-2.5 px-4 rounded-lg shadow-sm transition-all duration-300 focus:border-blue-500 focus:ring-4 focus:ring-blue-100 focus:outline-none hover:border-zinc-100 cursor-pointer;
  }
}
